.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Bodoni Moda', serif;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #9ADCFF;
}

p {
  font-size: 1rem;
  color: #9ADCFF;
  font-family: 'Rubik', sans-serif;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}


button{
  margin-left: 625px;
  margin-top: 50px;
  width: 150px;
  height: 60px;
  color: #FFF89A;
}